Repository zarusz/SlimMessageBus, pull requests merged in 2022-07, with the labels that each got.

#115 [Host.AzureServiceBus] Supporting Subscription Sql Filter
  docs/provider_azure_servicebus.md
  src/Host.Transport.Properties.xml
  src/Samples/Sample.Simple.ConsoleApp/Program.cs
  src/SlimMessageBus.Host.AzureServiceBus/Config/ConsumerBuilderExtensions.cs
  src/SlimMessageBus.Host.AzureServiceBus/Config/SubscriptionSqlFilter.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusMessageBus.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologyProvisioningSettings.cs
Labels: enhancement, Host.AzureServiceBus

#119 [Host.Memory] Similar to MediatR the memory bus should have ability to auto declare producers/consumers and handlers
  README.md
  docs/intro.md
  docs/provider_memory.md
  src/Samples/Sample.DomainEvents.WebApi/Startup.cs
  src/Samples/Sample.Hybrid.ConsoleApp/Startup.cs
  src/Samples/Sample.Simple.ConsoleApp/Program.cs
  src/SlimMessageBus.Host.Memory/MemoryMessageBus.cs
  src/SlimMessageBus.Host.Memory/MemoryMessageBusBuilder.cs
  src/SlimMessageBus.Host.Memory/MemoryMessageBusBuilderExtensions.cs
  src/SlimMessageBus.Host/Collections/GenericInterfaceTypeCache.cs
  src/SlimMessageBus.Host/Config/Discovery/DiscoveryConsumerType.cs
  src/SlimMessageBus.Host/Config/Discovery/ReflectionDiscoveryScanner.cs
  src/SlimMessageBus.Host/Config/Fluent/AbstractConsumerBuilder.cs
  src/SlimMessageBus.Host/Config/Fluent/ConsumerBuilder.cs
  src/SlimMessageBus.Host/Config/Fluent/HandlerBuilder.cs
  src/SlimMessageBus.Host/Config/Fluent/MessageBusBuilder.cs
  src/SlimMessageBus.Host/Helpers/Assert.cs
  src/SlimMessageBus.Host/Helpers/ReflectionUtils.cs
  src/SlimMessageBus.sln
  src/Tests/SlimMessageBus.Host.Benchmark/GetTaskResultBenchmark.cs
  src/Tests/SlimMessageBus.Host.Benchmark/Program.cs
  src/Tests/SlimMessageBus.Host.Benchmark/SlimMessageBus.Host.Benchmark.csproj
  src/Tests/SlimMessageBus.Host.Integration.Test/HybridTests.cs
  src/Tests/SlimMessageBus.Host.Memory.Test/GlobalSuppressions.cs
  src/Tests/SlimMessageBus.Host.Memory.Test/MemoryMessageBusBuilderTests.cs
  src/Tests/SlimMessageBus.Host.Memory.Test/MemoryMessageBusIt.cs
  src/Tests/SlimMessageBus.Host.Memory.Test/MemoryMessageBusTest.cs
  src/Tests/SlimMessageBus.Host.Memory.Test/MemoryMessageBusTests.cs
  src/Tests/SlimMessageBus.Host.Test/Config/MessageBusBuilderTests.cs
  src/Tests/SlimMessageBus.Host.Test/Helpers/ReflectionUtilsTests.cs
Labels: enhancement, Host.Memory

#120 [Host.AzureMessageBus] Subscription was not created. #117
  docs/provider_azure_servicebus.md
  src/Samples/Sample.Simple.ConsoleApp/Program.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusMessageBus.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusMessageBusSettings.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologyService.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologySettings.cs
  src/Tests/SlimMessageBus.Host.AzureServiceBus.Test/ServiceBusMessageBusTests.cs
Labels: bug, Host.AzureServiceBus

#118 #30 Add Native Json serialisation
  README.md
  build/tasks.ps1
  docs/serialization.md
  src/SlimMessageBus.Host.Serialization.Json/SlimMessageBus.Host.Serialization.Json.csproj
  src/SlimMessageBus.Host.Serialization.SystemTextJson/JsonMessageSerializer.cs
  src/SlimMessageBus.Host.Serialization.SystemTextJson/README.md
  src/SlimMessageBus.Host.Serialization.SystemTextJson/SlimMessageBus.Host.Serialization.SystemTextJson.csproj
  src/SlimMessageBus.sln
  src/Tests/SlimMessageBus.Host.Serialization.Benchmark/SerDesBenchmark.cs
  src/Tests/SlimMessageBus.Host.Serialization.Benchmark/SlimMessageBus.Host.Serialization.Benchmark.csproj
Labels: enhancement, Host.AzureServiceBus
