Repository zarusz/SlimMessageBus, pull requests merged in 2024-04, with the labels that each got.

#224 [Host] Optionally include IConsumerContext and/or CancellationToken in consumer method invocation
  docs/intro.md
  src/SlimMessageBus.Host.Configuration/Builders/AbstractConsumerBuilder.cs
  src/SlimMessageBus.Host.Configuration/Builders/ConsumerBuilder.cs
  src/SlimMessageBus.Host.Configuration/Builders/HandlerBuilder.cs
  src/SlimMessageBus.Host.Configuration/Settings/ConsumerSettings.cs
  src/SlimMessageBus.Host.Configuration/Settings/IMessageTypeConsumerInvokerSettings.cs
  src/SlimMessageBus.Host.Configuration/Settings/MessageTypeConsumerInvokerSettings.cs
  src/SlimMessageBus.Host/Consumer/Context/ConsumerContext.cs
  src/SlimMessageBus.Host/Consumer/MessageProcessors/MessageHandler.cs
  src/SlimMessageBus.Host/DependencyResolver/ConsumerMethodPostProcessor.cs
  src/SlimMessageBus.Host/Helpers/ReflectionUtils.cs
  src/Tests/SlimMessageBus.Host.AzureServiceBus.Test/ServiceBusMessageBusIt.cs
  src/Tests/SlimMessageBus.Host.Benchmark/ConsumerCallBenchmark.cs
  src/Tests/SlimMessageBus.Host.Configuration.Test/ConsumerBuilderTest.cs
  src/Tests/SlimMessageBus.Host.Configuration.Test/HandlerBuilderTest.cs
  src/Tests/SlimMessageBus.Host.Test/Consumer/MessageHandlerTest.cs
  src/Tests/SlimMessageBus.Host.Test/Helpers/ReflectionUtilsTests.cs
  src/Tests/SlimMessageBus.Host.Test/SampleMessages.cs
Labels: enhancement

#237 Update client libraries
  src/Host.Plugin.Properties.xml
  src/Samples/Sample.AsyncApi.Service/Sample.AsyncApi.Service.csproj
  src/Samples/Sample.DomainEvents.WebApi/Sample.DomainEvents.WebApi.csproj
  src/Samples/Sample.Images.Worker/Sample.Images.Worker.csproj
  src/Samples/Sample.OutboxWebApi/Sample.OutboxWebApi.csproj
  src/SlimMessageBus.Host.AzureEventHub/SlimMessageBus.Host.AzureEventHub.csproj
  src/SlimMessageBus.Host.AzureServiceBus/SlimMessageBus.Host.AzureServiceBus.csproj
  src/SlimMessageBus.Host.Configuration/SlimMessageBus.Host.Configuration.csproj
  src/SlimMessageBus.Host.Redis/SlimMessageBus.Host.Redis.csproj
  src/SlimMessageBus.Host.Serialization.GoogleProtobuf/SlimMessageBus.Host.Serialization.GoogleProtobuf.csproj
  src/Tests/Host.Test.Properties.xml
  src/Tests/SlimMessageBus.Host.Outbox.DbContext.Test/SlimMessageBus.Host.Outbox.DbContext.Test.csproj
  src/Tests/SlimMessageBus.Host.Serialization.GoogleProtobuf.Test/SlimMessageBus.Host.Serialization.GoogleProtobuf.Test.csproj
Labels: enhancement

#239 [Host.HybridMessageSerialzier] Resolve HybridMessageSerializer dependencies from IServiceProvider
  docs/serialization.md
  src/Samples/Sample.Serialization.ConsoleApp/Program.cs
  src/SlimMessageBus.Host.Configuration/Builders/ISerializationBuilder.cs
  src/SlimMessageBus.Host.Configuration/Builders/MessageBusBuilder.cs
  src/SlimMessageBus.Host.Serialization.Avro/SerializationBuilderExtensions.cs
  src/SlimMessageBus.Host.Serialization.GoogleProtobuf/SerializationBuilderExtensions.cs
  src/SlimMessageBus.Host.Serialization.Hybrid/HybridMessageSerializer.cs
  src/SlimMessageBus.Host.Serialization.Hybrid/SerializationBuilderExtensions.cs
  src/SlimMessageBus.Host.Serialization.Hybrid/SlimMessageBus.Host.Serialization.Hybrid.csproj
  src/SlimMessageBus.Host.Serialization.Json/SerializationBuilderExtensions.cs
  src/SlimMessageBus.Host.Serialization.SystemTextJson/SerializationBuilderExtensions.cs
  src/SlimMessageBus.sln
  src/Tests/SlimMessageBus.Host.Serialization.Avro.Test/SerializationBuilderExtensionsTest.cs
  src/Tests/SlimMessageBus.Host.Serialization.Hybrid.Test/Helpers/SampleMessages.cs
  src/Tests/SlimMessageBus.Host.Serialization.Hybrid.Test/HybridMessageSerializerTests.cs
  src/Tests/SlimMessageBus.Host.Serialization.Hybrid.Test/SerializationBuilderExtensionsTests.cs
  src/Tests/SlimMessageBus.Host.Serialization.Hybrid.Test/SlimMessageBus.Host.Serialization.Hybrid.Test.csproj
  src/Tests/SlimMessageBus.Host.Serialization.Hybrid.Test/Usings.cs
  src/Tests/SlimMessageBus.Host.Serialization.SystemTextJson.Test/JsonMessageSerializerTests.cs
Labels: enhancement, Host.Serialization

#245 #244: Topology provision for shared ASB subscription
  docs/provider_azure_servicebus.md
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologyService.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologySettings.cs
  src/Tests/SlimMessageBus.Host.AzureServiceBus.Test/ServiceBusTopologyServiceTests.cs
  src/Tests/SlimMessageBus.Host.Test/SlimMessageBus.Host.Test.csproj
  src/Tests/SlimMessageBus.Host.Test/xunit.runner.json
Labels: bug, enhancement, Host.AzureServiceBus

#253 [Host.Serialization.SystemTextJson] Error when using JsonMessageSerializer with default settings #252
  src/Host.Plugin.Properties.xml
  src/SlimMessageBus.Host.Serialization.SystemTextJson/JsonMessageSerializer.cs
  src/SlimMessageBus.Host.Serialization.SystemTextJson/SerializationBuilderExtensions.cs
  src/Tests/SlimMessageBus.Host.Serialization.SystemTextJson.Test/JsonMessageSerializerTests.cs
  src/Tests/SlimMessageBus.Host.Serialization.SystemTextJson.Test/Usings.cs
Labels: Host.Serialization

#257 [Host.AzureServiceBus] $Default rule is not added to subscription #254
  src/Host.Plugin.Properties.xml
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologyService.cs
  src/SlimMessageBus.Host.AzureServiceBus/ServiceBusTopologySettings.cs
  src/Tests/SlimMessageBus.Host.AzureServiceBus.Test/ServiceBusMessageBusIt.cs
  src/Tests/SlimMessageBus.Host.AzureServiceBus.Test/ServiceBusTopologyServiceTests.cs
Labels: bug, Host.AzureServiceBus
